<html>
    <title>eLibrary</title>
    <head>
        <link href="../bower/bootstrap-css/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="./site.css" rel="stylesheet" type="text/css">
        <link href="./favicon.ico" rel="icon">
        <script src="../bower/angularjs/angular.min.js"></script>
        <script src="App.js"></script>
    </head>
    <body ng-app="libraryApp" ng-controller="libraryController" ng-init="onload()">
        <div ng-include="'./navbar.html'"></div>
        <div class="container">
            <div class="alert alert-success alert-dismissable" ng-show="toggleDeleteMessage==='t'">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" ng-click="showDeleteMessage('f')">Got it&times;</a>
                You deleted a book.
            </div>
            <div class="row form-group">
                <!-- Hitting enter key triggers $scope.search() -->
                <input type="text" placeholder="Search" class="form-control" 
                    ng-model="Query" ng-keydown="$event.keyCode === 13 && search()"/>
                <div class="radio">
                    Search by:
                    <label>
                        <input type="radio" name="searchBy" ng-model="isIsbn"
                        ng-value="true">
                            ISBN
                        </input>
                    </label>
                    <label>
                        <input type="radio" name="searchBy" ng-model="isIsbn" ng-value="false">
                            Title
                        </input>
                    </label>
                </div>
                <button class="btn btn-primary form-control" ng-click="search()">
                    Search
                </button>
            </div>
            <div class="row">
                <table class="table" ng-show="showBookTable">
                     <tr ng-repeat="b in booksResult">
                         <td><img ng-src="{{b['Cover image']}}" class="book-cover" /></td>
                        <td>
                            <div>
                                <p>{{b.title}}</p>
                                <small><a ng-href="{{'https://en.wikipedia.org/wiki/Special:BookSources/'+b.ISBN}}">Details</a></small>
                            </div>
                        </td>
                        <td>{{b.author}}</td>
                        <td>
                            <a ng-href="{{'https://www.amazon.com/s?search-alias=stripbooks&field-isbn='+b.ISBN}}" target="_blank">
                                Buy Now
                            </a>
                        </td>
                        <td>
                            <div>
                                <form method="post" action="/books/details" class="form-inline">
                                    <input type="text" name="title" value="{{b.title}}" hidden/>
                                    <input type="text" name="ISBN" value="{{b.ISBN}}" hidden/>
                                    <input type="text" name="author" value="{{b.author}}" hidden/>
                                    <input type="text" name="year" value="{{b.year}}" hidden/>
                                    <input type="text" name="publisher" value="{{b.publisher}}" hidden/>
                                    <input type="text" name="Cover image" value="{{b['Cover image']}}" hidden/>
                                    <button class="edit-btn btn" type="submit">
                                        EDIT/DELETE
                                    </button>
                                </form>
                            </div>
                            <div>
                                <form method="get" action="/delete" ng-submit="deleteBook(b)">
                                    <fieldset>
                                        <input type="text" name="title" value="{{b.title}}" hidden/>
                                        <input type="text" name ="ISBN" value="{{b.ISBN}}" hidden/>
                                    </fieldset>
                                    <input class="btn btn-danger edit-btn" type="submit" value="DELETE" />
                                    <div class="tooltip">
                                        <span class="tooltiptext">Deleting this book</span>
                                    </div>
                                </form>
                            </div>
                        </td>
                    </tr> 
                </table>
            </div>
            <div>
                <script src="../bower/jquery/dist/jquery.min.js"></script>
                <script src="BackTop.js">    
                </script>
                <a href="#" class="back-top" id="backTop">Back to Top</a>
            </div>
        </div>
    </body>
</html>