.book-cover{
    width: 150px;
    height: 200px;
}

td.labelArea {
    width:30%;
    color: black;
    font-size: 16px;
}

.back-top{
    margin: auto;
    width: 100%;
}

#buttonArea > button:disabled {
    color:black;
}

#buttonArea > button:disabled:hover{
    color: white;
}

#deleteFailed{
    border-color: red;
    background-color: pink;
}

.edit-btn{
    width:180px;
}