.book-cover{
    width: 150px;
    height: 200px;
}

td.labelArea {
    width:30%;
    color: black;
    font-size: 16px;
}

.back-top{
    margin: auto;
    width: 100%;
}

#buttonArea > button:disabled {
    color:black;
}

#buttonArea > button:disabled:hover{
    color: white;
}

#deleteFailed{
    border-color: red;
    background-color: pink;
}

.edit-btn{
    width:180px;
}

/* Tooltip for delete button */
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
