.book-cover{
    width: 150px;
    height: 200px;
}

td.labelArea {
    width:30%;
    color: black;
    font-size: 16px;
}

#buttonArea > button:disabled {
    color:black;
}

#buttonArea > button:disabled:hover{
    color: white;
}