doctype html
html
  head
      title eLibrary
      link(href='../bower/bootstrap-css/css/bootstrap.min.css', rel='stylesheet', type='text/css')
      link(href='/public/site.css', rel='stylesheet', type='text/css')
      link(href='/public/favicon.ico',rel='icon')
      script(src='../bower/angularjs/angular.min.js')
      script(src='public/AddNew.js')     
  body(ng-app='addNewApp', ng-controller='addNewController')
    include ../client/navbar.html
    .container
      .form-group
        form(method='post', action='/addNew',name='addNewForm', ng-submit="submit()",novalidate=true)
          table.table
            tr
              td.labelArea Title *
              td(ng-class="{ 'has-error' : addNewForm.title.$invalid }")
                input.form-control(type='text', name='title',ng-model='title',required=true)
            tr
              td.labelArea ISBN *
              td(ng-class="{ 'has-error' : addNewForm.ISBN.$invalid }")
                input.form-control(type='text', name='ISBN',ng-model='ISBN',required=true)
            tr
              td.labelArea Author *
              td(ng-class="{ 'has-error' : addNewForm.author.$invalid }")
                input.form-control(type='text',name='author',ng-model='author',required=true)
            tr
              td.labelArea Cover Image 
              td
                input.form-control(type='text',name='Cover image',placeholder="Paste the image's URL here")
            tr
              td.labelArea Publisher
              td
                input.form-control(type='text',name='publisher')
            tr
              td.labelArea Year
              td
                include .././client/YearSelect.html
            
          #buttonArea
            button.btn.btn-primary.form-control(type='submit',ng-disabled="addNewForm.$invalid") SUBMIT
            button.btn.form-control(type='Reset') RESET
          