doctype html
html
  head
      title eLibrary
      link(href='../bower/bootstrap-css/css/bootstrap.min.css', rel='stylesheet', type='text/css')
      link(href='./site.css', rel='stylesheet', type='text/css')
      script(src='../bower/angularjs/angular.min.js')
      script(src='public/AddNew.js')     
  body(ng-app='addNewApp', ng-controller='addNewController')
    //div(ng-include="'public/navbar.html'")
    include ../client/navbar.html
    .container
      .form-group
        form(method='post', action='/addNew')
          table.table
            tr
              td.labelArea Title *
              td
                input.form-control(type='text', name='title',ng-model='title')
            tr
              td.labelArea ISBN *
              td
                input.form-control(type='text', name='ISBN')
            tr
              td.labelArea Author *
              td
                input.form-control(type='text',name='author')
            tr
              td.labelArea Cover Image 
              td
                input.form-control(type='text',name='Cover image',placeholder="Paste the image's URL here")
            tr
              td.labelArea Publisher
              td
                input.form-control(type='text',name='publisher')
            tr
              td.labelArea Year
              td
                input.form-control(type='text',name='year')
          #buttonArea
              button.btn.btn-primary.form-control(type='submit' ng-click="submit()") SUBMIT
              button.btn.form-control(type='reset') RESET