doctype html
html
  head
      title eLibrary
      link(href='../bower/bootstrap-css/css/bootstrap.min.css', rel='stylesheet', type='text/css')
      link(href='/public/site.css', rel='stylesheet', type='text/css')
      link(href='/public/favicon.ico',rel='icon')
  body.container
    include ../client/navbar.html
    .row
        p
            span Adding a record
        iframe(src='https://player.vimeo.com/video/234247329', width='640', height='400', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
